---
- hosts: localhost
  gather_facts: false
  collections:
    - netapp.ontap
  tasks:
  - name: "Create cluster {{ netapp_cluster_name }}"
    na_ontap_cluster:
      use_rest: Always
      https: true
      validate_certs: false
      state: present
      cluster_name: "{{ netapp_cluster_name }}"
      time_out: 0
      hostname: "{{ netapp_node1_ip }}"
      username: "{{ netapp_username }}"
      password: "{{ netapp_password }}"

  - name: Create Cluster mgmt lif
    na_ontap_interface:
      use_rest: Never
      https: true
      validate_certs: false
      state: present
      role: cluster-mgmt
      home_port: e0c
      hostname: "{{ netapp_node1_ip }}"
      username: "{{ netapp_username }}"
      password: "{{ netapp_password }}"
      interface_name: "{{ netapp_cluster_name }}_cluster_mgmt"
      vserver: "{{ netapp_cluster_name }}"
      address: "{{ netapp_cluster_mgmt_ip }}"
      netmask: "{{ netapp_netmask }}"
      home_node: "{{ netapp_cluster_name }}-01"

  - name: "Join Node 2 to {{ netapp_cluster_name }}"
    na_ontap_cluster:
      https: true
      validate_certs: false
      state: present
      hostname: "{{ netapp_node1_ip }}"
      username: "{{ netapp_username }}"
      password: "{{ netapp_password }}"
      cluster_ip_address: "{{ netapp_node2_clus1_ip }}"
