
---
- hosts: localhost
  gather_facts: false
  collections:
    - netapp.ontap
  tasks:
  - name: "Create cluster: {{ netapp_cluster_name }}"
    na_ontap_cluster:
      use_rest: Always
      https: true
      validate_certs: false
      state: present
      cluster_name: "{{ netapp_cluster_name }}"
      time_out: 0
      hostname: "{{ netapp_node1_ip }}"
      username: "{{ netapp_username }}"
      password: "{{ netapp_password }}"
      
  - name: Get Intra Cluster IP Address
    na_ontap_info:
      gather_subset: "net_interface_info"
      https: true
      validate_certs: false
      hostname: "{{ netapp_node1_ip }}"
      username: "{{ netapp_username }}"
      password: "{{ netapp_password }}"
    register: ontap_info
  - set_fact: 
      netapp_intra_cluster_address: "{{ ontap_info.ontap_info.net_interface_info[ netapp_cluster_name + '-01_clus1'].address }}"
  - debug: var=netapp_intra_cluster_address

  - name: Create Cluster mgmt lif
    na_ontap_interface:
      https: true
      validate_certs: false
      state: present
      role: cluster-mgmt
      home_port: e0m
      hostname: "{{ netapp_node1_ip }}"
      username: "{{ netapp_username }}"
      password: "{{ netapp_password }}"
      interface_name: "{{ netapp_cluster_name }}_mgmt"
      vserver: "{{ netapp_cluster_name }}"
      address: "{{ netapp_cluster_mgmt_ip }}"
      netmask: "{{ netapp_netmask }}"
      home_node: "{{ netapp_cluster_name }}-01"
